# Ignore image files
*.png
# *.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg
*.tif
*.tiff
*.webp
*.heif
*.bat
*.dylib
__pycache__/
__pycache__
# Ignore image directories
images/
img/
photos/
snooker/
# Ignore virtual environments
venv/
env/
myvenv/

